.logement {
  border: 1px solid yellow;
  /* width: 1240px;
  margin: 0 auto; */
}

.logement_content {
  color: red;
  /* width: 95%; */
  width: 1240px;
  border: 1px solid red;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.logement_content_infos {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
}
.logement_content_host {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logement_content_infos button {
  display: inline;
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: blue;
  background-color: red;
}
.logement_content_infos button:hover {
  box-shadow: 0 2px 8px rgb(0, 0, 0);
}
.logement_content_infos div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.logement_content_host {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.logement_content_host_name {
  align-self: center;
  flex-direction: column;
}
.logement_content_host div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0 10px;
}

.logement_content_host_name {
  align-self: center;
  flex-direction: column;
}
.logement_content_host img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.logement_content_host_name_stars {
  display: flex;
  gap: 10px;
}
.logement_content_host_name_stars img {
  width: 30px;
  height: 30px;
}
.accomodation_collapse {
  display: flex;

  /* background-color: yellow; */
  width: 95%;
  margin: 0 auto;
  padding: 0;
}
.accomodation_collapse_item1 {
  /* border: 1px solid black; */
  width: 80%;
  margin-right: 3px;
}
.accomodation_collapse_item2 {
  /* border: 1px solid black; */
  width: 80%;
  margin-left: 10px;
}
