.carousel {
  width: 1240px;
  height: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.carousel .icone1,
.icone2 {
  width: 35px;
  z-index: 3;
}
.carousel .icone2 {
  position: absolute;
  top: 50%;
  left: 10%;
}
.carousel .icone1 {
  position: absolute;
  top: 50%;
  left: 87%;
}

.carousel .carousselImg {
  position: relative;
  height: 400px;
  width: 1240px;
  object-fit: cover;
  border-radius: 25px;
}
.carousel span {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 0px;

  color: red;
  font-size: 25px;
}
