.Banner {
  position: relative;
  width: 1240px;
  height: 223px;
  filter: brightness(50%);
  margin: 40px auto;
}
.Banner img {
  width: 1240px;
  height: 223px;
  border-radius: 15px;
  object-fit: cover;
}
.Banner h1 {
  position: absolute;
  color: white;
  top: 70px;
  left: 350px;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
}
